@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

.content{
    /* border: 3px solid black; */
    height: 150vh;
    display: flex;
    position: relative;
}
.nav{
    border: 3px solid purple;
    height: 150vh;
    position: sticky;
    flex: 0.8;
}

h1{
    font-weight: 500;
    font-size: 70px;
}

h2{
    color: #F44336;
    font-weight: 500;
    font-size: 55px;
}

hr{
    width: 7%;
    border: 5px solid red;
    background-color: red;
    border-radius: 7px;
    height: 10px;
}
.bodyContent{
    /* border: 3px solid red; */
    height: 150vh;
    flex: 3;
    padding-top: 100px;
    padding-left: 30px;
}
.image{
    /* border: 3px solid red; */
    margin: 30px;
    height: 350px;
    display: flex;
}
.div1{
    /* border: 3px solid blue; */
    height: 350px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div1 img{
    height: 345px;
}
.div2{
    /* border: 3px solid rgb(28, 28, 146); */
    height: 350px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div2 img{
    height: 345px;
}

.image2{
    /* border: 3px solid red; */
    margin: 30px;
    height: 250px;
    display: flex;
}
.div3{
    /* border: 3px solid green; */
    height: 250px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div4{
    /* border: 3px solid greenyellow; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.image3{
    /* border: 3px solid orangered; */
    margin: 30px;
    height: 250px;
    display: flex;
}


.div5{
    /* border: 2px solid cyan; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div6{
    /* border: 2px solid rgb(255, 6, 159); */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.serve{
    /* border: 2px solid olivedrab; */
    height: 68vh;
}


p{
    font-size: 18px;
}


.design{
    /* border: 2px solid peru; */
    height: 130vh;
    margin-top: 97px;
}

.designers{
    /* border: 3px solid greenyellow; */
    height: 70vh;
    display: flex;
}
.designer1{
    /* border: 3px solid goldenrod; */
    height: 60vh;
    width: 33.33%; 
    filter: saturate(20%);
    background-color: rgb(230, 230, 230);
    margin: 0 7px;
}
.designer1 p{
    font-size: 25px;
    padding-left: 20px;
}
#ccc{
    color: grey;
    font-size: 17px;
}
#c{
    font-size: 15px;
}

.pack{
    /* border: 4px solid brown; */
    height: 130vh;
   
    
}
.packItems{
    /* border: 4px solid orangered; */
    height: 80vh;
    display: flex;
}
.basic{
    /* border: 4px solid rgb(28, 15, 211); */
    height: 100vh;
    width: 50%;
    margin-right: 7px; 
    background-color: rgb(230, 230, 230);
}
.pro{
    /* border: 4px solid rgb(81, 255, 0); */
    height: 100vh;
    width: 50%;
    margin-left: 7px;
    background-color: rgb(230, 230, 230);
}
.Basic{
    /* border: 4px solid rgb(28, 15, 211); */
    height: 20vh;
    width: 100%;
    margin-right: 7px; 
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.Pro{
    /* border: 4px solid rgb(28, 15, 211); */
    height: 20vh;
    width: 100%;
    margin-right: 7px; 
    background-color: #f44336;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: #fff;
}
#a{
    font-size: 25px;
}
#tre{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    border: 1px solid rgb(207, 204, 204);
}
#tre1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    border-bottom: 1px solid rgb(207, 204, 204);
}
.big{
    font-size: 35px;
    border-top: 1px solid rgb(207, 204, 204);
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 220px;
    margin-top: 10px;
    height: 50px;
    width: 100px;
    font-size: 17px;
    border: none;
}
#btn1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 220px;
    margin-top: 10px;
    background-color: #f44336;
    height: 50px;
    width: 100px;
    /* border: 1px solid black; */
    font-size: 17px;
    color: #fff;
    border: none;
}

#btn:hover{
    background-color: #000;
    color: #fff;
}

 #btn1:hover{
    background-color: #000;
}